
# ommit the DS_Store folder automatically created by macOS
.DS_Store/

# python virtual environment folder
.venv/               

# process log file
process_log.txt

#Output folder containing the audio and .md files
Output/