
# Ignore the test script
test.py

# Ignore the.env file in the root directory
.env

# Ommit the DS_Store folder automatically created by macOS
.DS_Store/

# python virtual environment folder
.venv/               

# process log file
process_log.txt

#Output folder containing the audio and .md files
Output/

# Model folder in utils/Models
utils/Models/

# Model folder in utils/styletts2/Models
utils/styletts2/Models

# URL file
urls.txt

# Python cache
__pycache__/
utils/__pycache__

