*.pth filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
utils/rvc/Models/Female_1/Female_1.index filter=lfs diff=lfs merge=lfs -text
utils/rvc/Models/Male_1/Male_1.index filter=lfs diff=lfs merge=lfs -text
utils/rvc/Models/Female_1/Female_1.pth filter=lfs diff=lfs merge=lfs -text
utils/rvc/Models/Female_1/Male_1.pth filter=lfs diff=lfs merge=lfs -text
utils/rvc/Models/Female_1/Male_1.index filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
utils/piper_tts/voices/default_female_voice/en_US-hfc_female-medium.onnx filter=lfs diff=lfs merge=lfs -text
utils/styletts2/Utils/ASR/epoch_00080.pth filter=lfs diff=lfs merge=lfs -text
