
# Ignore the test script
test.py
test.mp3
# Ignore the.env file in the root directory
.env

# Ommit the DS_Store folder automatically created by macOS
.DS_Store/

# python virtual environment folder
.venv/               

# process log file
process_log.txt*
process_log.txt

output.txt
overview.txt

# task file
tasks.json
sources.json
history.json

# database file
database/read2me.db

# keywords file
keywords.txt

# sources file
sources.txt

#Output folder containing the audio and .md files
Output/

# Ignore everything in the piper_tts directory
/utils/piper_tts/*
/utils/whisper/*
# But don't ignore the voices folder
!/utils/piper_tts/voices/

# Model folder in utils/Models
utils/Models/

# Model folder in utils/styletts2/Models
/utils/styletts2/Models/
/utils/styletts2/Utils/ASR/*.pth
# RVC models
/utils/rvc/Models/**/*.pth
/utils/rvc/Models/**/*.index

# Wheels folder
Wheels/

# URL file
urls.txt

# Python cache
__pycache__/
utils/__pycache__
llm/__pycache__

github
github.pub
