beautifulsoup4
requests
tldextract
trafilatura
edge-tts
fastapi
uvicorn
mutagen
pillow
watchdog
styletts2
cached-path
git+https://github.com/resemble-ai/monotonic_align.git
phonemizer
txtsplit
torch
torchaudio
torchvision
playwright
newspaper4k
schedule
wikipedia
aiohttp
aiofiles
tqdm
pdfminer.six
#piper-phonemize-cross
#piper-tts