beautifulsoup4
requests
tldextract
trafilatura
edge-tts
fastapi
uvicorn
mutagen
pillow
watchdog
cached-path
phonemizer
txtsplit
playwright
newspaper4k
schedule
wikipedia
aiohttp
aiofiles
tqdm
pymupdf
readabilipy
werkzeug==2.0.3
feedparser
feedsearch
pydub
readabilipy
ollama
openai